.currency{
    font-family: 'PT Sans', sans-serif;
    margin-bottom:10px;
    height:100px;
    display: flex;
    align-items: stretch;
    overflow:hidden;
    position:relative;
}
.currency h2{
    font-family: 'PT Serif', serif;
    font-weight: 600;
    height: 100px;
    line-height: 100px;
    flex: 0 0 100px;
    text-align: center;
    background: #eee;
    margin: 0;
    padding: 0;
    border-radius:20px;
}
.currency h3{
    font-family: 'PT Serif', serif;
    position: absolute;
    font-size: 11px;
    width: 90px;
    font-weight: normal;
    top: 70px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    opacity:0.5;
}
.currency .notes{
    list-style: none;
    height: 100px;
    padding: 0;
    position:relative;
    margin: 0 10px;
    flex-grow: 1;
}
.currency .notes:before{
    content:"";
    background-color:#333;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
}
.currency li{
    background-color: #555;
    color: #fff;
    display: block;
    font-size: 13px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    transform: rotate(-90deg);
    transform-origin: -15px center;
    top: 40px;
    margin-left:15px;
    left:0;
/*    transition: left 300ms ease-in; */
    opacity:0.8;
}
.currency li:before{
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #555 transparent transparent;
    position: absolute;
    left: -15px;
}
.currency li:hover{
    background-color:#111;
    cursor:pointer;
}
.currency li:hover:before{
    border-color: transparent #111 transparent transparent;
}

.zoom_button{
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    background: greenyellow;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    border-radius: 50%;
}
.zoom_button:hover{
    background:green;
    color:#fff;
}